DATABASE_URL=
ACROSS_API_URL=
STARGATE_API_URL=
LAYERZERO_API_URL=
WORMHOLE_API_URL=
SIDESHIFT_API_URL=https://sideshift.ai/api/v2
SIDESHIFT_PAY_URL=https://pay.sideshift.ai
SIDESHIFT_TRACKING_URL=https://sideshift.ai/transactions
SIDESHIFT_SUCCESS_URL=https://sideshift.ai/success
SIDESHIFT_CANCEL_URL=https://sideshift.ai/cancel
SIDESHIFT_CHECKOUT_URL=https://pay.sideshift.ai/checkout
SIDESHIFT_HELP_URL=https://help.sideshift.ai/en/
SIDESHIFT_FAQ_URL=https://docs.sideshift.ai/faq/
SIDESHIFT_DISPLAY_NAME=SideShift.ai
LOG_LEVEL=
ETH_GAS_STATION_API_KEY=
LAYERZERO_API_KEY=
STARGATE_API_KEY=
WORMHOLE_API_KEY=
ACROSS_API_KEY=