BOT_TOKEN=
GROQ_API_KEY=
NEXT_PUBLIC_SIDESHIFT_API_KEY=
NEXT_PUBLIC_AFFILIATE_ID=
WALLETCONNECT_PROJECT_ID=
PORT=3000
MINI_APP_URL=http://localhost:3001
ADMIN_CHAT_ID=
DATABASE_URL=
SIDESHIFT_CLIENT_IP=127.0.0.1
SENTRY_DSN=